<div class="grant-customization">
    <fieldset>
        <legend><label> Cost </label></legend>

        <div class="form-group stacked">
            <label>Individual Cost</label>
            <div class="form-fields">
                <input type="text" name="individualCost" value="{{ individualCost }}" placeholder="Individual Cost">
                <select name="individualCostCurrency">
                    {{#each currencyOptions as |currency|}}
                    <option value="{{ currency }}" {{#if (eq ../individualCostCurrency currency)}}selected{{/if}}>{{ currency }}</option>
                    {{/each}}
                </select>
            </div>
            <p class="hint"><abbr title="{{localize "DND5E.ACTIVITY.FIELDS.grant.rollFormula.label"}}"><i class="fas fa-calculator"></i></abbr>&emsp;Additional cost for this item (added to global base cost)</p>
        </div>
    </fieldset>

    <fieldset>
        <legend><label> Usage Limitations </label></legend>

        <div class="form-group stacked">
            <label>Override Uses</label>
            <div class="form-fields">
                <input type="text" name="maxUses" value="{{ maxUses }}" placeholder="{{#if hasUses}}{{ maxUses }}{{else}}Unlimited{{/if}}">
            </div>
            <p class="hint"><abbr title="{{localize "DND5E.ACTIVITY.FIELDS.grant.rollFormula.label"}}"><i class="fas fa-calculator"></i></abbr>&emsp;Leave blank to use item default</p>
        </div>

        <div class="form-group stacked">
            <label>Recovery Period</label>
            <select name="recovery">
                {{#each recoveryOptions as |option|}}
                <option value="{{ option.key }}" {{#if option.selected}}selected{{/if}}>{{ option.label }}</option>
                {{/each}}
            </select>
        </div>
    </fieldset>

    {{#if isSpell}}
    <fieldset>
        <legend><label> Spell Options </label></legend>

        <div class="form-group stacked">
            <label>Grant as Scroll</label>
            <div class="form-fields">
                <div class="tri-state-button-group">
                {{#each scrollStates as |state|}}
                <button type="button" class="scroll-state-btn {{#if state.selected}}active{{/if}}" data-state="{{state.value}}" data-tooltip="{{state.label}}">
                    <i class="{{state.icon}}"></i>
                </button>
                {{/each}}
            </div>
            </div>
            <p class="hint">Override global spell scroll setting for this item</p>
        </div>

        <div class="form-group stacked">
            <label>Cost per Level</label>
            <div class="form-fields">
                <input type="text" name="spellCostPerLevel" value="{{ spellCostPerLevel }}" placeholder="Spell Cost per Level">
                <select name="spellCostPerLevelCurrency">
                    {{#each currencyOptions as |currency|}}
                    <option value="{{ currency }}" {{#if (eq ../spellCostPerLevelCurrency currency)}}selected{{/if}}>{{ currency }}</option>
                    {{/each}}
                </select>
            </div>
            <p class="hint"><abbr title="{{localize "DND5E.ACTIVITY.FIELDS.grant.rollFormula.label"}}"><i class="fas fa-calculator"></i></abbr>&emsp;Additional cost for this item (added to global cost per level)</p>
        </div>
    </fieldset>
    {{/if}}

    <div class="grant-buttons">
        <button type="button" class="finish-customization-btn">
            <i class="fas fa-check"></i> Save Changes
        </button>
        <button type="button" class="cancel-customization-btn">
            <i class="fas fa-times"></i> Discard Changes
        </button>
    </div>
</div>
