<div class="grant-selection">
    <fieldset>
        <legend><label> Selection ({{ count }} / {{ available }}) </label></legend>

        <div class="granted-items">
            {{#each items as |item|}}
            <div class="granted-item">
                <div class="item-info">
                    <img class="gold-icon item-img" src="{{item.img}}" alt="{{item.name}}">
                    <a data-uuid="{{item.uuid}}" class="item-name">{{item.name}}</a>
                </div>
                <div class="item-controls">
                    {{#if item.selected}}
                    <dnd5e-checkbox class="item-choice" data-uuid="{{item.uuid}}" checked></dnd5e-checkbox>
                    {{else}}
                    <dnd5e-checkbox class="item-choice" data-uuid="{{item.uuid}}" {{#if ../isLocked}}disabled{{/if}}></dnd5e-checkbox>
                    {{/if}}
                </div>
            </div>
            {{/each}}
        </div>
    </fieldset>

    <div class="grant-buttons">
        <button type="button" class="finish-grant-btn">
            <i class="fas fa-check"></i> Grant Item{{#unless (eq count 0)}}s{{/unless}}
        </button>
        <button type="button" class="cancel-grant-btn">
            <i class="fas fa-times"></i> Cancel
        </button>
    </div>
</div>
