<section class="tab activity-{{ tab.id }} {{ tab.cssClass }}" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
    <fieldset class="collapsible-fieldset" data-expanded="true" data-fieldset-id="hook-activation">
        <legend class="collapsible-legend">
            <i class="fas fa-chevron-down collapse-arrow"></i>
            <label> Activation </label>
        </legend>

        <div class="fieldset-content">
            <div class="form-group">
                <label>{{localize "DND5E.ACTIVITY.FIELDS.hook.manualTrigger.label"}}</label>
                <div class="form-fields">
                    <dnd5e-checkbox name="manualTrigger" {{#if manualTrigger}}checked{{/if}}></dnd5e-checkbox>
                </div>
                <p class="hint">{{localize "DND5E.ACTIVITY.FIELDS.hook.manualTrigger.hint"}}</p>
            </div>

            <div class="form-group">
                <label>{{localize "DND5E.ACTIVITY.FIELDS.hook.activeHook.label"}}</label>
                <div class="form-fields">
                    <select name="activeHook">
                    {{#each availableHooks as |hook|}}
                        <option value="{{ hook.name }}" {{#if hook.selected}}selected{{/if}} {{#if hook.custom}}data-custom="true"{{/if}}>{{#if hook.custom}}Custom{{else}}{{ hook.name }}{{/if}}</option>
                    {{/each}}
                    </select>
                </div>
                <p class="hint">{{localize "DND5E.ACTIVITY.FIELDS.hook.activeHook.hint"}}</p>
            </div>

            {{#if isCustomHook}}
            <div class="form-group">
                <label>{{localize "DND5E.ACTIVITY.FIELDS.hook.customHook.label"}}</label>
                <div class="form-fields">
                    <input type="text" name="customHook" value="{{ customHook }}" placeholder="Enter custom hook name">
                </div>
                <p class="hint">{{localize "DND5E.ACTIVITY.FIELDS.hook.customHook.hint"}}</p>
            </div>
            {{/if}}
        </div>
    </fieldset>

    <fieldset class="collapsible-fieldset" data-expanded="true" data-fieldset-id="hook-execution">
        <legend class="collapsible-legend">
            <i class="fas fa-chevron-down collapse-arrow"></i>
            <label> Execution </label>
        </legend>

        <div class="fieldset-content">
            <div class="form-group">
                <label>{{localize "DND5E.ACTIVITY.FIELDS.hook.executionType.label"}}</label>
                <div class="form-fields">
                    <select name="executionType">
                        <option value="macro" {{#if (eq executionType "macro")}}selected{{/if}}>Execute Macro</option>
                        <option value="activity" {{#if (eq executionType "activity")}}selected{{/if}}>Execute Activity</option>
                    </select>
                </div>
                <p class="hint">{{localize "DND5E.ACTIVITY.FIELDS.hook.executionType.hint"}}</p>
            </div>

            {{#if (eq executionType "activity")}}
            <div class="form-group">
                <label>{{localize "DND5E.ACTIVITY.FIELDS.hook.targetActivityId.label"}}</label>
                <div class="form-fields">
                    <select name="targetActivityId">
                        <option value="">Select Activity...</option>
                        {{#each availableActivities as |activity|}}
                            <option value="{{ activity.id }}" {{#if activity.selected}}selected{{/if}}>
                                {{ activity.name }} ({{ activity.type }})
                            </option>
                        {{/each}}
                    </select>
                </div>
                <p class="hint">{{localize "DND5E.ACTIVITY.FIELDS.hook.targetActivityId.hint"}}</p>
            </div>
            {{/if}}
        </div>
    </fieldset>

    <fieldset class="collapsible-fieldset" data-expanded="true" data-fieldset-id="hook-macro">
        <legend class="collapsible-legend">
            <i class="fas fa-chevron-down collapse-arrow"></i>
            <label> Macro </label>
        </legend>

        <div class="fieldset-content">
            {{#if isCustomHook}}
            <div class="form-group">
                <label>{{localize "DND5E.ACTIVITY.FIELDS.hook.sanityCheckCode.label"}}</label>
                <p class="hint">{{{localize "DND5E.ACTIVITY.FIELDS.hook.sanityCheckCode.hint"}}}</p>
            </div>

            <div class="form-group macro-editor-container">
                <div class="code-editor-wrapper">
                    {{#if (eq version 12)}}
                    <textarea name="sanityCode" aria-label="Sanity Check">{{ sanityCode }}</textarea>
                    {{else}}
                    <code-mirror name="sanityCode" language="javascript" indent="2" aria-label="Sanity Check">{{ sanityCode }}</code-mirror>
                    {{/if}}
                </div>
            </div>
            {{/if}}

            <div class="form-group">
                <label>{{localize "DND5E.ACTIVITY.FIELDS.hook.macroCode.label"}}</label>
                <p class="hint">{{{localize "DND5E.ACTIVITY.FIELDS.hook.macroCode.hint"}}}</p>
            </div>

            <div class="form-group macro-editor-container">
                <div class="code-editor-wrapper">
                    {{#if (eq version 12)}}
                    <textarea name="macroCode" aria-label="Macro Code">{{ macroCode }}</textarea>
                    {{else}}
                    <code-mirror name="macroCode" language="javascript" indent="2" aria-label="Macro Code">{{ macroCode }}</code-mirror>
                    {{/if}}
                </div>
            </div>
        </div>
    </fieldset>
</section>
