<section class="tab activity-{{ tab.id }} {{ tab.cssClass }}" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
    <fieldset class="collapsible-fieldset" data-expanded="true" data-fieldset-id="movement-configuration">
        <legend class="collapsible-legend">
            <i class="fas fa-chevron-down collapse-arrow"></i>
            <label> Configuration </label>
        </legend>

        <div class="fieldset-content">
            <div class="form-group stacked">
                <label>{{localize "DND5E.ACTIVITY.FIELDS.movement.maxTargets.label"}}</label>
                <div class="form-fields">
                    <input type="text" name="maxTargets" value="{{ maxTargets }}" placeholder="Max Targets">
                </div>
                <p class="hint"><abbr title="{{localize "DND5E.ACTIVITY.FIELDS.movement.rollFormula.label"}}"><i class="fas fa-calculator"></i></abbr>&emsp;{{localize "DND5E.ACTIVITY.FIELDS.movement.maxTargets.hint"}}</p>
            </div>

            <div class="form-group">
                <label>{{localize "DND5E.ACTIVITY.FIELDS.movement.targetSelf.label"}}</label>
                <div class="form-fields">
                    <dnd5e-checkbox name="targetSelf" {{#if targetSelf}}checked{{/if}}></dnd5e-checkbox>
                </div>
                <p class="hint">{{localize "DND5E.ACTIVITY.FIELDS.movement.targetSelf.hint"}}</p>
            </div>

            <div class="form-group indented">
                <label>{{localize "DND5E.ACTIVITY.FIELDS.movement.onlyTargetSelf.label"}}</label>
                <div class="form-fields">
                    {{#if (and targetSelf (eq maxTargets "1"))}}
                    <dnd5e-checkbox name="onlyTargetSelf" {{#if onlyTargetSelf}}checked{{/if}}></dnd5e-checkbox>
                    {{else}}
                    <dnd5e-checkbox name="onlyTargetSelf" disabled></dnd5e-checkbox>
                    {{/if}}
                </div>
                <p class="hint">{{localize "DND5E.ACTIVITY.FIELDS.movement.onlyTargetSelf.hint"}}</p>
            </div>

            <div class="form-group stacked">
                <label>{{localize "DND5E.ACTIVITY.FIELDS.movement.targetRange.label"}}</label>
                <div class="form-fields">
                    <input type="text" name="targetRange" value="{{ targetRange }}" placeholder="Target Range">
                </div>
                <p class="hint"><abbr title="{{localize "DND5E.ACTIVITY.FIELDS.movement.rollFormula.label"}}"><i class="fas fa-calculator"></i></abbr>&emsp;{{localize "DND5E.ACTIVITY.FIELDS.movement.targetRange.hint"}}</p>
            </div>

            <div class="form-group stacked">
                <label>{{localize "DND5E.ACTIVITY.FIELDS.movement.movementDistance.label"}}</label>
                <div class="form-fields">
                    <input type="text" name="movementDistance" value="{{ movementDistance }}" placeholder="Movement Distance">
                </div>
                <p class="hint"><abbr title="{{localize "DND5E.ACTIVITY.FIELDS.movement.rollFormula.label"}}"><i class="fas fa-calculator"></i></abbr>&emsp;{{localize "DND5E.ACTIVITY.FIELDS.movement.movementDistance.hint"}}</p>
            </div>

            <div class="form-group stacked">
                <label>{{localize "DND5E.ACTIVITY.FIELDS.movement.movementType.label"}}</label>
                <div class="form-fields">
                    {{#if onlyTargetSelf}}
                    <select name="movementType" disabled>
                        <option value="pull" selected>Pull (Toward)</option>
                    </select>
                    {{else}}
                    <select name="movementType">
                        {{#each movementTypeOptions as |option|}}
                        <option value="{{option.value}}" {{#if option.selected}}selected{{/if}}>{{option.label}}</option>
                        {{/each}}
                    </select>
                    {{/if}}
                </div>
                <p class="hint">{{localize "DND5E.ACTIVITY.FIELDS.movement.movementType.hint"}}</p>
            </div>
        </div>
    </fieldset>

    <fieldset class="collapsible-fieldset" data-expanded="true" data-fieldset-id="movement-effects">
        <legend class="collapsible-legend">
            <i class="fas fa-chevron-down collapse-arrow"></i>
            <label> Effects </label>
        </legend>

        <div class="form-group">
            <label>{{localize "DND5E.ACTIVITY.FIELDS.movement.autoApply.label"}}</label>
            <div class="form-fields">
                <dnd5e-checkbox name="autoApply" {{#if autoApply}}checked{{/if}}></dnd5e-checkbox>
            </div>
            <p class="hint">{{localize "DND5E.ACTIVITY.FIELDS.movement.autoApply.hint"}}</p>
        </div>
        
        <div class="fieldset-content">
            <div class="form-group stacked">
                <label>{{localize "DND5E.ACTIVITY.FIELDS.movement.appliedEffects.label"}}</label>
                <div class="form-fields">
                    <multi-select name="appliedEffects">
                        {{#each availableEffects as |effect|}}
                        <option value="{{ effect.id }}" {{#if (includes ../appliedEffects effect.id)}}selected{{/if}}>
                            {{ effect.name }}
                        </option>
                        {{/each}}
                    </multi-select>
                </div>
                <p class="hint">{{localize "DND5E.ACTIVITY.FIELDS.movement.appliedEffects.hint"}}</p>
            </div>
        </div>
    </fieldset>
</section>
