<div class="movement-targets">
    <fieldset>
        <legend><label> Configuration </label></legend>
        
        <div class="form-group">
            <div class="config-info">
                <div class="config-item">
                    <strong>{{localize "DND5E.ACTIVITY.FIELDS.movement.maxTargets.label"}}:</strong> {{maxTargets}}
                </div>
                <div class="config-item">
                    <strong>{{localize "DND5E.ACTIVITY.FIELDS.movement.targetRange.label"}}:</strong> {{targetRange}} ft
                </div>
                <div class="config-item">
                    <strong>{{localize "DND5E.ACTIVITY.FIELDS.movement.movementDistance.label"}}:</strong> {{movementDistance}} ft ({{movementType}})
                </div>
                {{#if originToken}}
                <div class="config-item">
                    <strong>{{localize "DND5E.ACTIVITY.FIELDS.movement.originToken.label"}}:</strong> {{originToken.name}}
                </div>
                {{/if}}
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend><label> Target Selection </label></legend>

        <div class="form-group">
            <label>Add Targets:</label>
            <select name="targetId">
                <option value="">-- Select Target --</option>
                {{#if tokensData.selfTokens}}
                <optgroup label="Self">
                    {{#each tokensData.selfTokens as |tokenData|}}
                    <option value="{{tokenData.token.id}}">{{tokenData.name}} ({{tokenData.distance}} ft)</option>
                    {{/each}}
                </optgroup>
                {{/if}}

                {{#if tokensData.otherTokens}}
                <optgroup label="Other Tokens">
                    {{#each tokensData.otherTokens as |tokenData|}}
                    <option value="{{tokenData.token.id}}">
                        {{tokenData.name}} ({{tokenData.distance}} ft)
                    </option>
                    {{/each}}
                </optgroup>
                {{/if}}
            </select>
        </div>
        
        <div class="form-group">
            <label>Selected Targets ({{selectedTargets.length}} / {{maxTargets}}):</label>
            {{#if selectedTargets.length}}
            <div class="selected-targets">
                {{#each selectedTargets as |target|}}
                <div class="target-item">
                    <div class="target-info">
                        <div class="target-name">{{target.name}}</div>
                    </div>
                    <div class="target-controls">
                        <div class="target-distance">{{target.distance}} ft</div>
                        <button type="button" class="target-delete-btn" data-index="{{target.index}}">
                            <i class="fas fa-trash"></i>
                        </button>
                    </div>
                </div>
                {{/each}}
            </div>
            {{/if}}
        </div>
    </fieldset>
    
    <button type="button" class="start-movement-btn">Select Destination</button>
</div>
