<section class="tab activity-{{ tab.id }} {{ tab.cssClass }}" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
    <fieldset>
        <legend><label> Configuration </label></legend>

        <div class="form-group stacked">
            <label>Max Targets</label>
            <div class="form-fields">
                <input type="number" name="maxTargets" min="0" value="{{ maxTargets }}" placeholder="Max Targets">
            </div>
            <p class="hint">The permitted number of tokens to teleport</p>
        </div>

        <div class="form-group">
            <label>Target Self</label>
            <div class="form-fields">
                <dnd5e-checkbox name="targetSelf" {{#if targetSelf}}checked{{/if}}></dnd5e-checkbox>
            </div>
            <p class="hint">Allow the user to target themself?</p>
        </div>

        <div class="form-group">
            <label>Only Target Self</label>
            <div class="form-fields">
                {{#if (and targetSelf (eq maxTargets 1))}}
                <dnd5e-checkbox name="onlyTargetSelf" {{#if onlyTargetSelf}}checked{{/if}}></dnd5e-checkbox>
                {{else}}
                <dnd5e-checkbox name="onlyTargetSelf" disabled></dnd5e-checkbox>
                {{/if}}
            </div>
            <p class="hint">Should the user only target themself?</p>
        </div>

        <div class="form-group stacked">
            <label>Target Radius</label>
            <div class="form-fields">
                <input type="number" name="targetRadius" min="0" value="{{ targetRadius }}" placeholder="Target Radius">
            </div>
            <p class="hint">The radius around the user to select targets from (in feet)</p>
        </div>

        <div class="form-group stacked">
            <label>Teleport Distance</label>
            <div class="form-fields">
                <input type="number" name="teleportDistance" min="0" value="{{ teleportDistance }}" placeholder="Teleport Distance">
            </div>
            <p class="hint">The distance tokens can be teleported from the user</p>
        </div>
    </fieldset>
    <fieldset>
        <legend><label> Placement </label></legend>

        <div class="form-group">
            <label>Manual Placement</label>
            <div class="form-fields">
                {{#if (or keepArrangement (eq maxTargets 1))}}
                <dnd5e-checkbox name="manualPlacement" disabled></dnd5e-checkbox>
                {{else}}
                <dnd5e-checkbox name="manualPlacement" {{#if manualPlacement}}checked{{/if}}></dnd5e-checkbox>
                {{/if}}
            </div>
            <p class="hint">Allow the user to manually place teleported tokens?</p>
        </div>

        <div class="form-group stacked">
            <label>Placement Radius</label>
            <div class="form-fields">
                {{#if manualPlacement}}
                <input type="number" name="manualRadius" min="0" value="{{ manualRadius }}" placeholder="Placement Radius">
                {{else}}
                <input type="number" name="manualRadius" value="0" placeholder="Placement Radius" disabled>
                {{/if}}
            </div>
            <p class="hint">The radius to allow placement of tokens within after teleporting</p>
        </div>

        <div class="form-group">
            <label>Keep Arrangement</label>
            <div class="form-fields">
                {{#if (or manualPlacement (eq maxTargets 1))}}
                <dnd5e-checkbox name="keepArrangement" disabled></dnd5e-checkbox>
                {{else}}
                <dnd5e-checkbox name="keepArrangement" {{#if keepArrangement}}checked{{/if}}></dnd5e-checkbox>
                {{/if}}
            </div>
            <p class="hint">Keep the same token arrangement upon teleportation?</p>
        </div>

        <div class="form-group stacked">
            <label>Cluster Radius</label>
            <div class="form-fields">
                {{#if (or manualPlacement keepArrangement (eq maxTargets 1))}}
                <input type="number" name="clusterRadius" value="0" placeholder="Cluster Radius" disabled>
                {{else}}
                <input type="number" name="clusterRadius" min="0" value="{{ clusterRadius }}" placeholder="Cluster Radius">
                {{/if}}
            </div>
            <p class="hint">The radius to cluster teleported tokens</p>
        </div>
    </fieldset>
</section>
